@media print
{
  table.grid td, table.grid th{
	border-color: #000;
 }

 table.grid th{
	color: #333;
 }
 
 #webuser-block, #menu, .table-inputs-control input[type=submit]{
	visibility: hidden;
  }
  
  .table-inputs-control input{
	border: none;
	margin: 0;
	margin-right: -30px;
  }

  .table-inputs-control {
	color: #000;
  }
}

 table.grid th{
	cursor: pointer;
}