	/*
    @font-face {
	font-family: "Open Sans Condensed";
	src: url('/fonts/Open Sans Condensed_3.eot');
	src: url('/fonts/Open Sans Condensed_3.eot?#iefix') format('embedded-opentype'),
	url('/fonts/Open Sans Condensed_3.svg#Open Sans Condensed-CondensedLight-Normal') format('svg'),
	url('/fonts/Open Sans Condensed_3.woff') format('woff'),
        url('/fonts/Open Sans Condensed_3.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
    }
*/
    /* --- global --- */
    
    body {
	margin:0px;
    }
    
    h1 {
	margin-bottom: 5px;
    }

    a img {
	border: 0px;
    }

    .alignright {
	float: right;
    }
    
    .alignleft {
	float: left;
    }
    
    
    
    /* ---top--- */

    #top {
	overflow:visible;
	margin-bottom:20px;
	border-bottom: 2px solid #F47660;
    }

    
    #top-wrap {
	width:959px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
    }
    
    #logo-container {
	padding-top:35px;
	float:left;
    }
    
    #top-right {
	float:right;
    }
    
    #logo {
	height:50px;
    }
    
    #webuser-block {
	height:34px;
	text-align: right;
    }
    
    #login-toggler {
	cursor: pointer;
    }
    
    #login-container {
	display: none;
	position:absolute;
	background: white;
	border: 1px solid #d3d3d3;
	margin-top: 10px;
	padding: 8px 15px;
	text-align: left;
	z-index: 20;
    }

    #login-container div {
	margin-bottom: 5px;
    }
    
    #login-container input[type="text"],
    #login-container input[type="password"]
    {
	background: #f3f3f3;
	border: 1px solid #d3d3d3;
	width: 135px;
    }
    
    #login-container input[type="submit"] {
	float: right;
	background: #999;
	padding: 4px;
	cursor: pointer;
    }

    #login-container input[type="submit"]:hover {
	background: #F47660;
    } 
	
	#login-container p{
		margin-top: 0px;
	}
	
	#login-container p a {
		color: #FF6767;
    }
    
    #password-field {
	display:none;
    }
    
    #cart {
	float:right;
	margin-left: 15px;
    }
    
    #menu {
	margin-top:40px;
	float:right;
    }

    #menu ul {
	margin-top:0px;
	margin-left:0px;
	padding-left:0px;
	float:left;
	margin-bottom:0px;
    }
    
    #menu li {
	float:left;
	list-style:none;
    }
    
    #menu a {
	padding: 5px 10px 5px 10px;
	float:left;
    }
    
    #menu a:hover,
    #menu li.current-menu-item a,
    #menu li.active-menu-item a {
	color:white;
	background: #F47660;
    }

    
    /* ---slider--- */
    
    #slider {
	width:100%;
	min-width: 960px;
	min-height: 170px;
	margin-top:10px;
    }
    
    #slider .nivo-caption {
	background:none;
	left:550px;
	top:65px;
	width:260px;
	padding:0px;
	text-align:right;
    }
    
    #slider .nivo-caption p {
	padding-bottom: 5px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
    }

    #slider .nivo-caption p#logo-text {
	padding-top:10px;
    }
    
    #slider.nivoSlider {
	webkit-box-shadow: 0px 0px 0px 0px #4a4a4a;
	-moz-box-shadow: 0px 0px 0px 0px #4a4a4a;
	box-shadow: 0px 0px 0px 0px #4a4a4a;
    }
    
    .slider-wrapper {
	position:relative;
	margin-top: 50px;
    }
    
    .nivo-controlNav a {
	background: url(/images/bullet.png) no-repeat;
	text-indent: -9999px;
	width: 15px;
	height: 15px;
	display: inline-block;
    }

    .nivo-controlNav a.active {
	background: url(/images/active_bullet.png) no-repeat;
    }

    #slider-bar-container {
	position:relative;
	top: -80px;
	height:0px;
    }
    
    #slider-bar {
	position: relative;
	height:30px;
	background: #f47660;
	opacity: 0.7;
	z-index: 998;
    }

    .slider-wrapper #search-wrapper {
	width:909px;
	margin-left: auto;
	margin-right: auto;
	margin-top:5px;
	overflow:hidden;
    }
    
    .slider-wrapper #search-container {
	position:relative;
	top: -80px;
	overflow:hidden;
	z-index:999;
	
    }

    #search-container {
	height:30px;
    }

    .wrapper {
	width: 979px;
	margin-left: auto;
	margin-right: auto;
    }

    #search-container form {
	overflow: hidden;
	float:right;
    }
    
    #search-container input[type="text"]{
	width:107px;
	text-indent:2px;
	height: 16px;
	float:left;
    }	
    
    #search-container input[type="text"] {
	border: 1px solid #999;
    }

    #top-image {
	width:100%;
	min-width: 980px;
	min-height: 170px;
	margin-bottom: 35px;
    }
    
    .slider-wrapper #search-container input[type="text"]{
	height: 18px;
    }

    input[type="text"] {
	box-sizing: content-box;
    }
    
    .slider-wrapper #search-container input {
	border:0px;
    }

    
    .slider-wrapper #search-container input[type="text"]{
	height: 18px;
    }
    
    .slider-wrapper input {
	border:0px;
    }

    #search-container input[type="submit"]{
	width:20px;
	height: 20px;
	background:#666;
	background-image: url(/images/search.png);
	background-repeat: no-repeat;
	background-position: 4px 3px;
	border:0px;
	float:left;
	cursor:pointer;
    }
    

    /* --- main --- */
    #main {
	width:979px;
	min-height: 186px;
	margin-left: auto;
	margin-right: auto;
    }
    
    #main-content-meta {
	margin-left: 230px;
	overflow: hidden;
	margin-top: 50px;
    }

    .meta-filter {
	margin-top: 2px;
	margin-right: 5px;
	margin-bottom: 22px;
	padding: 2px 5px;
	float:left;
    }

    .meta-filter:hover,
    .meta-filter.selected
    {
	background: #6f6f6f;
    }

    #main-content-meta h1 {
	margin-top: 0px;
	margin-right: 20px;
    }

    .pagination {
	float:right;
	line-height: 12px;
    }

    #performance-grid {
	list-style: none;
    }
    
    #performance-grid-bottom .pagination {
	margin-top: 4px;
	border-left: 1px solid #aaa;
	padding-left: 20px;
	height: 13px;
    }
    
    #main-content-meta .pagination {
	margin-top: 6px;
    }
    

    .pagination * {
	float: left;
    }
    
    .pagination span {
	margin-left: 2px;
	margin-right: 2px;
    }

    .pagination-description {
//	height: 20px;
	float: left;
	margin-top: 3px;
    }

    #main-upper-block,
    #main-bottom-block {
	clear: both;
	overflow: hidden;
	padding-bottom: 30px;
    }
    
    #main-bottom-block {
	padding-bottom: 50px;
    }
    
    .separator-dark, .separator-light {
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0px;
	border-bottom: 1px solid #F47660;
	z-index: -1;
    }
    
    .separator-light {
	border-bottom: 1px solid #ccc;
    }
    
    
    #main-upper-block-left,
    #main-bottom-block-left{
	float:left;
	width: 700px;
	margin-right: 50px;
    }
    
    #main-upper-block-left h1 {
	margin-bottom:15px;
    }
	
	#main-bottom-block-left p{
		margin-bottom: -22px;
	}
    
    #main-upper-block-left p,
    #main-bottom-block-left p
    {
	padding-top: 15px;
    }

    #main-bottom-block-left h1 {
	margin-top: 50px;
    }
    
    #main-upper-block img{
	float:right;
    }

    #register-now {
	margin-top: 30px;
	margin-left: 225px;
	margin-bottom: 48px;
    }
    
    #discover-offers {
	float: left;
	margin-top: 130px;
    }

    a.call-to-action,
    input[type="submit"].call-to-action 
    {
	padding-left: 25px;
	padding-right: 2px;
	background: url(/images/small_play.png);
	background-color: #f47660;
	color: white;
	background-repeat: no-repeat;
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 1px;
	padding-bottom: 0px;
	font-size: 14px;
	border: 0px;
	height: 20px;
    }

    a.call-to-action:hover {
	background: url(/images/active_small_play.png);
	background-repeat: no-repeat;
	background-color: #c36;
    }

    #main-content {
	overflow:hidden;
	margin-bottom: 30px;
    }
    
    #main-content-left {
	float: left;
	width: 149px;
	#border-bottom: 1px solid #e3e3e3;
    }
    
    #main-content-left a {
	display:block;
    }
    
    #main-content-left-accordion {
	border-bottom: 1px solid #a3a3a3;
	padding-bottom: 20px;
    }
    
    #main-content-left-accordion h3 {
	margin-top: 0px;
	cursor: pointer;
    }
    
    #main-content-left-accordion h3 a {
	outline: none;
	color: #f47660;
    }
    
    #main-content-left-accordion {
	padding-bottom: 20px;
    }
    
    .ui-state-focus, .ui-state-active {
	outline: none;
    }
    
    .ui-icon {
	margin-top: 6px;
	width:14px;
	height: 14px;
	float: left;
	margin-right: 16px;
    }
    
    #main-content-left-accordion .ui-icon {
	float: right;
	margin-right: 0px;
    }
    
    .ui-icon.ui-icon-triangle-1-e {
	background: url(/images/faq_arrow_right.png);
    }
    
    .ui-icon.ui-icon-triangle-1-s {
	background: url(/images/faq_arrow_down.png);
    }
    
    #main-content-left-accordion .ui-icon.ui-icon-triangle-1-e {
	background: url(/images/accordion_arrow_right.png);
    }

    #main-content-left-accordion .ui-icon.ui-icon-triangle-1-s {
	background: url(/images/accordion_arrow_down.png);
    }

    #main-content-left div {
	margin-bottom: 20px;
    }

    #main-content-left .left-component {
	overflow: hidden;
	margin-bottom: 12px;
    }
    
    #main-content-left .left-component h3 {
	margin-bottom: 12px;
	margin-top: 0px;
    }

    #main-content-left .left-component p, #main-content-left .left-component input {
	margin-bottom: 10px;
	margin-top: -10px;
    }

    #main-content-left .left-component input#newsletter {
	width: 125px;
	border-radius: 3px;
	border: 1px solid #adadad;
	float: left;
	color: #333;
	font-size: 12px;
	text-indent: 3px;
    }
    
    #main-content-left .left-component input#mail-submit {
	background: url(/images/mail_form_play.png);
	width: 7px;
	height: 7px;
	padding: 0px;
	border: 0px; 
	float: left;
	margin-left: 2px;
	margin-top: -5px;
	margin-bottom: 0px;
	cursor: pointer;
	background-repeat: no-repeat;
    }

    .twitterlink-container {
	float:right;
    }
	
	.twitterlink-container a{
	font-size: 14px;
	}
	
	.twitterlink-container img{
	margin-right: 3px;
	margin-bottom: -6px;
	}
    
    p.tweet {
	border-bottom: 1px solid #d3d3d3;
    }

    #main-content-left .letter-selection-grid
    {
	clear: both;
	overflow: hidden;
    }
    
    #main-content-left-accordion div.letter-selection a.letter-selection-letter
    {
	float: left;
	width: 15px;
	height: 20px;
	line-height: 20px;
	text-align: center;
    }
    
    #main-content-left-accordion div.letter-selection a.letter-selection-letter:hover
    {
	background: #F47660;
    }
    
    #main-content-left-accordion div.letter-selection a.letter-selection-letter.empty:hover
    {
	background: none;
    }
    
    #main-content-left-accordion div.letter-selection a.letter-selection-letter.empty
    {
	color: #AAA;
    }

    #main-content-left-accordion div.letter-selection a.letter-selection-letter.empty:hover
    {
	color: #AAA;
	cursor: default;
    }
    
    #main-content-left-accordion div.letter-selection a.letter-selection-letter
    {
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	font-weight: 700;
    }
    
    #main-content-left-accordion div.letter-selection a.letter-selection-letter:hover
    {
	color: white;
    }


    /* --- main content center --- */
    
    #main-content-center {
	padding-left: 80px;
	width: 740px;
	float: left;
    }

    ul#performance-grid {
	border: 1px solid #d3d3d3;
	padding-right: 5px;
	padding-top: 30px;
	padding-left: 5px;
	margin: 0px;
	overflow: hidden;
	margin-bottom: 60px;
    }
    
    ul#performance-grid li {
	float: left;
	margin-left: 20px;
	margin-bottom: 30px;
	height: 170px;
	border: 1px solid #d3d3d3;
    }
	
	ul#performance-grid li img{
	width: 155px;
	height: 95px;
	}
    
    #performance-grid-bottom,
    .carousel-bottom
    {
	background: url(/images/performance-description-bottom.png);
	height: 20px;
	border-top: 1px solid lightGrey;
    }

    #performance-grid-bottom {
	clear:both;
	width: 672px;
	padding-right: 32px;
	padding-left: 34px;
	position: relative;
	left: -5px;
    }
    
    ul#performance-grid li .carousel-item-title,
    ul#performance-grid li .carousel-item-category {
	margin-left: 10px;
    }
    
    .carousel-bottom {
	margin-top: 12px;
    }

    .carousel-bottom .watch-trailer {
	border-right: 1px solid #999;
    }

    .carousel-bottom .watch-trailer,
    .carousel-bottom .watch-now
    {
	float: left;
	height: 13px;
	padding-left: 11px;
	padding-right:11px;
	margin-top: 3px;
    }
    
    .bottom-box-container {
	float: left;
	width: 230px;
//	margin-right:35px;
    }
    
    .bottom-box {
	min-height: 50px;
	height: 128px;
	background: url(/images/performance-description-bottom.png);
	background-position: 0% 100%;
	background-repeat: repeat-x;
	border: 1px solid #d3d3d3;
	padding:15px;
	padding-bottom: 35px;
	overflow: hidden;
    }
  
	.bottom-box-container#registrations-in-own-management {
	margin-left: 34px;
	width: 422px;
    }

    .bottom-box-container#registrations-in-own-management *{
	float: left;
	width: 444px;
    }
	
	.bottom-box-container#registrations-in-own-management h3{
	height: 26px;
	width: 100%;
	}
	
    #registrations-in-own-management-right {
	width: 200px;
	margin-left: 18px;
    }
    
    #pay-safely-logo {
	margin-top: 15px;
	margin-left: 35px;
	clear:both;
	display: block;
    }
    
    #pay-safely-payment-methods {
	margin-top: 25px;
	margin-left: 65px;
    }
    
    .show-slider {
	overflow: visible;
    }

    .show-slider,
    .show-slider.carousel-container .show-slider-title,
    .carousel-separator,
    .carousel-separator-light {
	margin-left: 15px;
    }

    .show-slider.carousel-container {
	margin-left: 0px;
    }
    
    .show-slider-top {
	margin-bottom: -5px;
	overflow: hidden;
    }
    
    .show-slider-title {
	float: left;
	margin-top: 0px;
	margin-right: 10px;
    }
    
    .show-slider-filter, .show-slider-filter-seperator {
	float: left;
	margin-top: 3px;
    }

    .show-slider-filter-seperator {
	margin-right: 2px;
	margin-left: 2px;
	margin-top: 4px;
    }


    /* --- grid --- */
    table.grid {
	border: 0px;
	border-spacing: 0px;
	width: 100%;
	border-collapse:collapse;
    }

    table.grid thead tr {
	background: #F47660;
    }
    
    table.grid td,
    table.grid th
    {
	padding: 5px;
	border: 1px solid #d3d3d3;
    }

    table.grid th
    {
	border: 1px solid #FF8686;
    }

    table.grid .control-button-cell {
	text-align: right;
    }

    table.grid .sort-button.up,
    table.grid .sort-button.down
    {
	display: inline-block;
	width: 14px;
	height: 14px;
	text-indent: 300px;
    }
    
    table.grid .sort-button.up 
    {
	background: url('/images/faq_arrow_up.png');
    }
    table.grid .sort-button.down
    {
	background: url('/images/faq_arrow_down.png');
    }

    table.grid .control-button {
	margin-right: 10px;
    }
    
    .grid-container .operations {
	margin-bottom: 10px;
    }
    
    .grid-container .operation
    {
	padding-left: 25px;
	padding-right: 2px;
	background-color: #F47660;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 14px;
	padding: 3px 10px;
	border: 1px solid #fec4ba;
	border-bottom: 1px solid #777;
	border-right: 1px solid #999;
	margin-bottom: 5px;
    }

    .grid-container .operation:hover
    {
	background-color: #c36;
    }
    
    .form-table td,
    .form-table th
    {
	vertical-align: top;
	padding:10px;
    }

    .form-table td img,
    .form-table th img
    {
	max-width: 550px;
    }
    
    input[type="submit"]
    {
	padding-left: 25px;
	padding-right: 2px;
	background-color: #F47660;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 14px;
	padding: 3px 5px;
	border: 1px solid #C3C3C3;
	margin-bottom: 5px;
	cursor: pointer;
    }

    .form-table input[type="submit"]:hover
    {
	background-color: #c36;
    }
    
    .form-table label {
	line-height: 30px;
	height: 15px;
    }
    
    .form-table input[type="text"],
    .form-table input[type="password"]
    {
	width: 550px;
	height: 20px;
	margin-top: 2px;
	border-radius: 2px;
	border: 1px solid #A7A7A7;
	background: #f3f3f3;
	color: #666;
	text-indent: 15px;
    }

    .form-table select
    {
	width: 550px;
	height: 22px;
	margin-top: 2px;
	text-indent: 15px;
    }

    .form-table select[multiple="multiple"]
    {
	height: 200px;
	background: #f3f3f3;
    }

    .form-table textarea
    {
	width: 535px;
	height: 75px;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 2px;
	border: 1px solid #A7A7A7;
	background: #f3f3f3;
	color: #666;
	padding-left: 15px;
    }

    .form-table.login input[type="submit"]
    {
	float:right;
    }

    .form-errors {
	border: 1px solid #d3d3d3;
	margin-bottom: 20px;
	padding-left: 20px;
	background: #FFD0DA;
	color: #FF6767;
    }

    .color-selector {
	float:left;
	margin-left: 10px;
	/*
	width: 36px;
	height: 36px;
	*/
    }
    
    .form-table .cke_1
    {
	width: 550px;
    }
    
    .form-table input.input-color-selector {
	width: 515px;
	float: left;
    }
    
    .form-table .progress {
	width: 550px;
	height: 20px;
	border: 1px solid #d3d3d3;
	border-radius: 2px;
    }

    .form-table .bar {
	width: 0%;
	height: 20px;
	background: #F47660;
    }
    
    .color-selector div {
	width: 28px;
	height: 28px;
	background: url(/images/select2.png) center;
    }
    
    .confirm-dialog {
	display: none;
    }
    

    /* --- jquery ui for comfirmation --- */

    .ui-widget-overlay {
	background: #EEE;
	opacity: .80;
	filter: Alpha(Opacity=80);
    }

    .ui-widget-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    }
    
    .ui-dialog.ui-draggable .ui-dialog-titlebar {
	cursor: move;
	background: #F47660;
    }
    
    .ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
    }

    .ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 16px .1em 0;
    }
    
    .ui-dialog {
	position: absolute;
	padding: .2em;
	width: 300px;
	overflow: hidden;
    }
    
    .ui-dialog.ui-widget-content, .ui-dialog .ui-widget-content { 
	border: 1px solid #DDD;
	background: #F2F5F7;
	color: #362B36;
	padding: 0px;
    }

    .ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 19px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 18px;
	text-align: center;
    }

    .ui-icon.ui-icon-closethick
    {
	margin-top: 0px;
	width: 100%;
	height: 100%;
	margin-right: 0px;
    }

    .ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
	zoom: 1;
    }

    .ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin: .5em 0 0 0;
	padding: .3em 1em .5em .4em;
    }

    .ui-helper-clearfix::after {
	clear: both;
    }

    .ui-helper-clearfix::before, .ui-helper-clearfix::after {
	content: "";
	display: table;
    }

    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
    }

    .ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
    }
    
    .ui-dialog .ui-state-default, .ui-dialog.ui-widget-content .ui-state-default, .ui-dialog .ui-widget-header .ui-state-default {
	border: 1px solid #c3c3c3;
	background: #F47660;
	font-weight: bold;
	color: #2779AA;
	color: white;
    }

    .ui-dialog .ui-state-active, .ui-dialog.ui-widget-content .ui-state-active, .ui-dialog .ui-widget-header .ui-state-active {
	border: 1px solid #c3c3c3;
	background: #3BAAE3;
	font-weight: bold;
	color: white;
    }

    .ui-dialog .ui-state-hover, .ui-dialog.ui-widget-content .ui-state-hover, .ui-dialog .ui-widget-header .ui-state-hover
    {
	border: 1px solid #c3c3c3;
	background: #c36;
	font-weight: bold;
	color: #0070A3;
	color: white;
    }
    
    .ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	margin-right: .1em;
	text-decoration: none !important;
	cursor: pointer;
	text-align: center;
	zoom: 1;
	overflow: visible;
    }

    .ui-button .ui-button-text {
	display: block;
    }

    .ui-button-text-only .ui-button-text {
	padding: 3px 5px;
    }


    .ui-button-text {
	font-weight: 700;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	text-transform: uppercase;
    }

    .ui-draggable .ui-dialog-titlebar {
	color: white;
    }

    .ui-widget-header {
	font-weight: bold;
    }

    .ui-icon.ui-icon-closethick, .ui-dialog-content {
	font-family: "Arial Narrow", arial;
	font-size: 14px;
    }


    /** ---ui tabs--- **/

    .ui-tabs ul
    {
	list-style: none;
	padding-left: 0px;
	border-bottom: 2px solid #F47660;
    }
    
    .ui-tabs li
    {
	float: left;
	padding: 5px 10px 5px 10px;
    }
    
    .ui-tabs-selected
    {
	background: #F47660;
    }

    .ui-tabs-selected a,
    .ui-tabs li a
    {
	text-transform: uppercase;
	text-decoration: none;
    }

    .ui-tabs li.ui-tabs-selected a
    {
	color: white;
    }
    .ui-tabs li a
    {
	color: #333;
    }
    
    .ui-tabs-hide
    {
	display:none !important;
	
    }
    
    .ui-tabs-nav
    {
	margin-bottom: 0px;
    }
    
    .ui-tabs-panel
    {
	border: 1px solid #d3d3d3;
	border-top: 0px;
	padding-top: 20px;
	margin-bottom: 20px;
    }


    /* -- ui picker -- */

    .ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
    }
    
    .ui-datepicker.ui-widget-content {
	border: 1px solid #dddddd;
	background: #f2f5f7 url(images/ui-bg_highlight-hard_100_f2f5f7_1x100.png) 50% top repeat-x;
	color: #362b36;
    }
    
    .ui-datepicker-header {
	border: 1px solid #aed0ea;
	background: #F47660;
	color: #222222;
	font-weight: bold;
    }
    
    .ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
    }
    
    .ui-datepicker-prev {
	left: 2px;
    }
    
    .ui-datepicker-next {
	right: 2px;
    }

    .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	height: 1.8em;
	cursor: pointer;
	color: white;
    }

    .ui-datepicker .ui-datepicker-prev .ui-icon,
    .ui-datepicker .ui-datepicker-next .ui-icon {
	margin-right: 0px;
    }
    
    .ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
    }

    .ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
    }

    .ui-datepicker td span, .ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
    }
    
    .ui-datepicker .ui-state-default, .ui-datepicker .ui-widget-content .ui-state-default, .ui-datepicker .ui-widget-header .ui-state-default {
//	border: 1px solid #aed0ea;
	border: 1px solid #d3d3d3;
//	background: #d7ebf9;
	background: #fff;
	font-weight: bold;
//	color: #2779aa;
    }
    
    .ui-datepicker .ui-state-active, .ui-datepicker .ui-widget-content .ui-state-active, .ui-datepicker .ui-widget-header .ui-state-active {
//	border: 1px solid #2694e8;
	border: 1px solid #d3d3d3;
	background: #F47660;
	font-weight: bold;
	color: #ffffff;
    }

    .ui-datepicker .ui-state-highlight, .ui-datepicker .ui-widget-content .ui-state-highlight, .ui-datepicker .ui-widget-header .ui-state-highlight {
	border: 1px solid #f9dd34;
	background: #ffef8f;
	color: #363636;
    }

    
    /* ---small slider--- */
    
    .small-slider-wrapper{
	width:643px;
	height:230px;
	margin-bottom: 40px;
	margin-top:0px;
	overflow: visible;
    }
    
    .small-slider-wrapper, .jcarousel-container-horizontal {
	box-shadow: 0px 0px 6px 5px #ddd;
	border: 1px solid #fafafa;
	border-radius: 3px;
    }
    
    .nivoSlider.small-slider, .small-slider img {
	width:340px;
	height:230px;
	overflow: visible;
    }
    
    #slider.nivoSlider {
    webkit-box-shadow: 0px 0px 0px 0px #4a4a4a;
    -moz-box-shadow: 0px 0px 0px 0px #4a4a4a;
    box-shadow: 0px 0px 0px 0px #4a4a4a;
    }
    
    .small-slider-wrapper .nivo-controlNav a {
    background: url(/images/small_slider_bullet.png) no-repeat;
    text-indent: -9999px;
    width: 22px;
    height: 22px;
    display: inline-block;
    }

    .small-slider-wrapper  .nivo-controlNav a.active {
	background: url(/images/small_slider_active_bullet.png) no-repeat;
    }
    
    .small-slider-wrapper .nivo-caption {
	background: none;
	left: 315px;
	width: 330px;
	height: 230px;
	text-align: right;
	padding-right: 45px;
    }
    
    
    .small-slider-wrapper .nivo-caption .small-slider-author {
	margin-bottom: 2px;
    }
    
    .small-slider-wrapper .nivo-caption .small-slider-title {
	margin-bottom: 5px;
	margin-top: 0px;
    }

    .small-slider-summary
    {
	height: 20px;
    }
    
    
    .small-slider-wrapper .nivo-caption p {
	padding: 0px;
	text-align: right;
    }

    .small-slider-price-wrapper {
	margin-top: 80px;
	margin-bottom: 15px;
	
    }

    .small-slider-choices-wrapper {
	margin-left: 40px;
	overflow: hidden;
	position: absolute;
	bottom: 15px;
	right: 45px;
    }
    
    .small-slider-choices-wrapper a {
	padding: 2px;
	float: right;
	width: 90px;
	text-align: center;
    }
    
    a.small-slider-watch-trailer {
	background: #ff999a;
	margin-left: 10px;
    }
    
    a.small-slider-watch-now {
	background: #fe6663;
    }
    

    /** --- faq --- **/
    #faq-left {
	float: left;
	width: 580px;
    }

    #faq-left h3 {
	overflow: hidden;
    }

    #faq-left .accordion-choice {
	width: 380px;
	float: left;
    }
    
    .faq-arrow-up-container {
	border-top: 1px solid #d3d3d3;
	margin-top: 60px;
	overflow: hidden;
    }
    
    .faq-arrow-up {
	float: right;
	margin-top: 18px;
    }

    .faq-arrow-up img {
	margin-right: 10px;
    }

    #faq-right {
	float: right;
	width: 320px;
	border: 1px solid #d3d3d3;
	padding-right: 10px;
    }

    #faq-right li {
	list-style-image: url(/images/list-style-arrow.png);
	text-align: left;
	margin-bottom: 10px;
    }

    #faq-right h3 {
	padding-left: 20px;
    }


    /** --- account forms --- **/
    
    #account-form-left,
    #account-left {
	float: left;
	width: 580px;
	margin-right: 20px;
    }

    .account-block {
	background: #f4f4f4;
	border: 1px solid #d3d3d3;
	padding: 20px;
	background-image: url(/images/top-right-rectangle.png);
	background-repeat: no-repeat;
	background-position: 100% 0%;
    }

    .account-block .input-boxes input[type="submit"] {
	float: right;
	width: 100px;
	background: #c36;
	text-align: center;
	border: 0px;
	height: 22px;
    }
    
    #account-form-left p {
	margin-top: 0px;
		}
	
	#account-form-left .error p{
		border: 1px solid #d3d3d3;
		margin-bottom: 20px;
		padding: 10px;
		padding-left: 20px;
		background: #FFD0DA;
		color: #FF6767;
		font-size: 16px;
	}
    
    #account-form-right,
    #account-right {
	float: right;
	width: 320px;
    }

    #account-form-right h3
    {
	margin-top: 0px;
	padding-left: 20px;
    }

    #account-form-right .account-form-block
    {
	border: 0px solid black;
	padding: 0px;
    }

    #account-right .account-block ul
    {
	margin-top: 0px;
	padding-left: 21px;
    }
    
    #account-left .credit-head {
	clear:both;
	overflow: hidden;
	margin-bottom: 30px;
    }

    #account-left .credit-head .credit-image {
	float: left;
	margin-right: 30px;
    }
    
    #account-right .account-block li,
    #account-form-right .account-form-block li {
	list-style-image: url(/images/list-style-arrow.png);
	text-align: left;
	margin-bottom: 10px;
    }

    .account-block {
	margin-bottom: 40px;
	padding-right: 95px;
    }

    .account-form-block {
	border: 1px solid #d3d3d3;
	/*
	padding-right: 32px;
	padding-left: 20px;
	*/
	padding: 30px;
	padding-bottom: 0px;
	
	margin: 0px;
	overflow: hidden;
	margin-bottom: 60px;
    }

    #account-left .account-form-block .input-boxes {
	margin-top: 0px;
    }

    .account-form-block .input-boxes {
	margin-top: 30px;
	margin-bottom: 50px;
    }
	
	.account-form-block .input-divider{
	border-bottom: 1px solid #d3d3d3;
	margin-bottom: 10px;
	}

    .account-form-block .policies div {
	margin-bottom: 10px;
    }

    .account-form-block .policies {
	margin-bottom: 20px;
    }
    
    .account-form-block .input-boxes div {
	overflow: hidden;
	margin-bottom: 20px;
    }
    
    .account-form-block .input-boxes label {
	clear:both;
	display:block;
	margin-bottom: 8px;
    }
    
    .account-form-block .submit-wrapper,
    .account-block .submit-wrapper {
	margin-top: 15px;
	clear:both;
	overflow: hidden;
    }
    
    .account-form-block input[type="submit"].call-to-action.hover {
	background: url(/images/active_small_play.png);
	background-repeat: no-repeat;
	background-color: #c36;
    }

    .account-form-block input[type="submit"].call-to-action,
    .account-block input[type="submit"].call-to-action {
	float: left;
    }

    .account-form-block .action-wrapper {
	margin-top: 45px;
	margin-bottom: 40px;
    }
    
    .account-form-block .input-boxes input {
	float: left;
	/*border: 1px solid #999;*/
	width: 190px;
	height: 20px;
    }

    .account-form-block .input-boxes .error {
	float: left;
	margin-left: 20px;
	margin-top: 3px;
	background: url('/images/cross.png');
	background-repeat: no-repeat;
	background-position: 0px 2px;
	height: 20px;
	padding-left: 20px;
    }

    .account-form-block .input-boxes .success {
	float: left;
	margin-left: 20px;
	margin-top: 3px;
	background: url('/images/check.png');
	background-repeat: no-repeat;
	background-position: 0px 2px;
	height: 20px;
	padding-left: 20px;
    }
    
    .account-form-block-bottom {
	background: url(/images/performance-description-bottom.png);
	height: 20px;
	border-top: 1px solid lightGrey;
	float: none;
	margin-top: 8px;
	margin-left: -30px;
	width: 580px;
    }
    
    
    .registration-block {
	margin-top: 35px;
    }

    .registration-block h3 {
	margin-top: 0px;
    }
    
    .vertical-performances-list {
	list-style: none;
	padding-left: 10px;
	padding-top: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
    }

    /** --- payment --- **/

    #payment-left {
	float: left;
	width: 242px;
	margin-right: 40px;
    }

    #payment-right {
	float: left;
	width: 495px;
    }

    #payment-left h3,
    #payment-right h3 {
	margin-top: 0px;
    }

    #payment-performance-attributes-table td
    {
	padding-left: 10px;
	padding-bottom: 2px;
	padding-top: 2px;
    }

    #payment-performance-attributes-table .payment-performance-attribute
    {
	border-right: 1px solid #d3d3d3;
	padding-left: 0px;
	padding-right: 10px;
    }

    .account-block.last {
	background-image: none;
	margin-top: -10px;
    }
    
    .account-block input[type="submit"].call-to-action.hover {
	background: url(/images/active_small_play.png);
	background-repeat: no-repeat;
	background-color: #c36;
    }
    
    .account-block select {
	width: 200px;
	height: 22px;
	border: 1px solid #d3d3d3;
	background: white;
    }
    
    /** --- jcarousel --- **/
    .jcarousel-container-horizontal {
	width: 592px;
	padding-top: 30px;
	margin-left: 15px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
    }
    
    #also-viewed-carousel h3 {
	margin-left: 15px;
    }

    #also-viewed-carousel .jcarousel-container-horizontal {
	width: 871px;
	margin-left: 16px;
	box-shadow: 0px 0px 0px 0px #4a4a4a;
	webkit-box-shadow: 0px 0px 0px 0px #4a4a4a;
	border: 1px solid #d3d3d3;
	background: #f4f4f4;
	padding-left: 45px;
    }
    
    #also-viewed-carousel .carousel-item-title,
    #performance-grid .carousel-item-title,
    #trailer-right .carousel-item-title
    {
	margin-top: 2px;
    }
    

    .jcarousel-clip-horizontal {
	overflow: hidden;
    }

    .carousel-separator, .carousel-separator-light {
	position: relative;
	top: -14px;
	margin-right: 80px;
	border-bottom: 10px solid #f47660;
	margin-bottom: 30px;
    }

    .carousel-separator-light {
	border-bottom: 10px solid #ff9999;
    }
	
	#also-viewed-carousel .carousel-separator{
	margin-right: 20px;
	}
        
    .jcarousel-item img {
	height: 83px;
	width: 134px;
    }
    
    .jcarousel-item {
	width: 134px;
	height:125px;
	margin-right: 18px;
    }
	
	#also-viewed-carousel .jcarousel-container-horizontal  .jcarousel-item {
	padding-right: 17px;
	}
    
    .jcarousel-prev-horizontal {
	background: url('/images/carousel_prev.png');
	width: 38px;
	height: 38px;
	position: absolute;
	top: 53px;
	left: -18px;
	cursor: pointer;
	opacity: 0.8;
    }

    .jcarousel-next-horizontal {
	background: url('/images/carousel_next.png');
	width: 38px;
	height: 38px;
	position: absolute;
	top: 53px;
	left: 622px;
	cursor: pointer;
	opacity: 0.8;
    }
    
    #also-viewed-carousel .jcarousel-next-horizontal {
	left: 920px;
    }
	    
    .jcarousel-next-horizontal.jcarousel-next-disabled {
	background: url('/images/carousel_next_disabled.png');
    }

    .jcarousel-prev-horizontal.jcarousel-prev-disabled {
	background: url('/images/carousel_prev_disabled.png');
    }

    .carousel-item-overlay {
	position: absolute;
	background-color: #AAA;
	opacity: 0.7;
    }

    .carousel-item-overlay p {
	margin-left: 40px;
	margin-top: 30px;
	float: left;
    }
    
    .carousel-item-overlay img {
	margin-top: 35px;
	margin-left: 5px;
	float: left;
	width: 20px;
	height: 18px;
    }
    
    /* --- jwplayer --- */

    #player {
	width: 679px;
	height: 380px;
	background: black;
	margin-bottom: 35px;
    }

    #small-player {
	width: 470px;
	height: 265px;
	background: black;
	margin-bottom: 35px;
    }
    
    /* --- performance --- */
    h1.performance-title {
	margin-bottom: 5px;
    }

    h2.performance-summary {
	margin-top: 0px;
	margin-bottom: 25px;
    }
    
    
    /* --- trailer --- */
    #trailer-left {
	width: 640px;
	float: left;
    }

    #performance-description-box {
	border: 1px solid #d3d3d3;
	padding: 30px;
	padding-bottom: 0px;
	background: url(/images/top-right-rectangle.png);
	background-repeat: no-repeat;
	background-position: 100% 0%;
	margin-top: 35px;
    }

    #performance-description-box-left {
	width: 290px;
	margin-right: 40px;
	float: left;
    }
    
    #performance-description-box-title {
	margin-bottom: 5px;
    }
    
    #performance-description {
	margin-top: 5px;
	margin-bottom: 25px;
    }

    #performance-attributes-table {
	border-spacing: 0px;
    }
    
    #performance-attributes-table td {
	padding-left: 10px;
	padding-bottom: 2px;
	padding-top: 2px;
    }
    
    #performance-attributes-table td.performance-attribute {
	border-right: 1px solid #d3d3d3;
	padding-left: 0px;
	padding-right: 10px;
    }
    
    a.simple-call-to-action {
	padding-left: 25px;
	padding-right: 2px;
	background-color: #f47660;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 14px;
	padding: 3px 5px;
	float: right;
	border: 1px solid #c3c3c3;
	margin-bottom: 5px;
    }

    a.simple-call-to-action:hover {
	background-color: #c36;
    }

    #description-separator {
	border-bottom: 1px solid #999;
	width: 979px;
	position:relative;
	left: -30px;
	clear:both;
	padding-top: 20px;
    }
    
    #trailer-left #description-separator {
	width: 638px;
    }

    #performance-description-bottom {
	background: url(/images/performance-description-bottom.png);
	height: 20px;
	position: relative;
	left: -30px;
	width: 979px;
	border-top: 1px solid #d3d3d3;
    }

    #trailer-left #performance-description-bottom {
	width: 638px;
    }
    
    #performance-description-pre-bottom {
	height: 30px;
	line-height: 30px;
    }

    #performance-description-pre-bottom *{
	float:left;
    }

    #performance-description-pre-bottom img {
	margin-top: 6px;
	margin-left: 10px;
	margin-right: 0px;
    }

    #playing-problems-container {
	float: right;
	padding-left: 15px;
	border-left: 1px solid #999;
	height: 20px;
	margin-top: 5px;
    }

    #playing-problems {
	line-height: normal;
	background: #ccc;
	padding: 1px 3px;
    }

    #trailer-left #performance-view-count {
	margin-left: 0px;
    }
    
    #performance-view-count {
	margin-left: 235px;
    }

    img#payment-methods {
	float: right;
	margin-right: 0px;
    }
    
    #back-to-overview-container {
	overflow: hidden;
#	margin-bottom: 65px;
	margin-bottom: 40px;
    }
    
    a#back-to-overview
    {
	float: right;
	margin-top: 25px;
	background: url(/images/inverse-gray-play.png);
	background-repeat: no-repeat;
	background-color: #999;
	background-position: 0px 0px;
	height: 19px;
    }

    a#back-to-overview:hover {
	background: url(/images/inverse-play.png);
	background-repeat: no-repeat;
	background-color: #F47660;
	background-position: 0px 0px
    }

    #trailer-left-bottom div {
	float: left;
    }

    #trailer-left-bottom h3,
    .bottom-box-container h3
    {
	margin-top:0px;
	margin-bottom: 5px;
    }

    #trailer-how-it-works-wrapper {
	width: 170px;
	margin-right: 35px;
    }

    #trailer-how-it-works-wrapper li {
	list-style-image: url(/images/list-style-arrow.png);
	text-align: left;
    }
	
	#trailer-how-it-works-wrapper img {
	margin-top: 6px;
	margin-bottom: 7px;
	margin-left: 16px;
	}
    
    #trailer-how-it-works {
	width: 200px;
    }

	#trailer-social-media{
	width: 383px;
	}
	
    #trailer-left-bottom #trailer-social-media-wrapper {
	margin-left: 50px;
	width: 280px;
    }

    #trailer-left-bottom #trailer-how-it-works-bottom,
    #trailer-left-bottom #trailer-social-media-bottom
    {
	background: url(/images/performance-description-bottom.png);
	height: 20px;
	border-top: 1px solid lightGrey;
	float: none;
	margin-top: 8px;
	clear: both;
    }
    
    #trailer-how-it-works,
    #trailer-social-media
      {
	border: 1px solid #d3d3d3;
    }

    #trailer-right {
	float: left;
	margin-left: 120px;
	width:210px;
	margin-top: 70px;
    }
    
    #hire-and-watch {
	background: url(/images/hire-and-watch.png);
	float:none;
	width:130px;
	display: block;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	line-height: 28px;
	padding-top: 0px;
	padding-bottom: 0px;
    }
    
    #hire-and-watch * {
	float: left;
    }
    
    #hire-and-watch img {
	height: 12px;
	margin-top: 7px;
	margin-left: 5px;
	float:left;
    }
    
    #register-free {
	background: url(/images/register-free.png);
	float:none;
	width:130px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	line-height: 28px;
	padding-top: 0px;
	padding-bottom: 0px;
    }
    
    .trailer-component h3 {
	margin-bottom: 5px;
	margin-top: 35px;
    }

    #trailer-action-block {
	background: #f1f1f1;
	width: 208px;
	overflow: hidden;
	border: 1px solid #c8c8c8;
	border-radius: 2px;
    }
    
    #trailer-action-block div {
	clear:both;
	width: 210px;
	text-align: center;
	margin-bottom: 5px;
    }
    
    #trailer-action-block div#trailer-action-block-bottom {
	background: white;
	margin-top: 15px;
	border-top: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
	margin-bottom: 18px;
	padding-top: 5px;
	padding-bottom: 3px;
    }

    ul#trailer-related-block {
	list-style: none;
	padding-left: 0px;
	padding-top: 15px;
	border: 1px solid #c8c8c8;
	border-radius: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
    }

    ul#trailer-related-block li {
	text-align: center;
	margin-bottom: 25px;
    }
	    
    #trailer-related-block-bottom {
	background: url(/images/performance-description-bottom.png);
	height: 20px;
	position: relative;
	left:  0px;
	width: 208px;
	border-top: 1px solid lightGrey;
    }

    #load-more-related {
	background: url(/images/load-more-related.png);
	width: 198px;
	text-align: center;
	margin-top: 25px;
	cursor: pointer;
    }
	
	.twitter-share-button, .fb-like{
	margin-top: 5px;
	margin-left: 5px;
	}
	   
    /* --- prefooter --- */
    
    #pre-footer {
	height: 316px;
	background: url(/images/prefooter.png);
	margin-top: 40px;
	padding-left: 1%;
    }

    #pre-footer-wrapper {
	width: 979px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
    }

    .pre-footer-col {
	width: 25%;
	padding-right: 15px;
	float:left;
	text-align: center;
	padding-left: 6%;
    }

    .pre-footer-col * {
		text-align: center;
    }
	
	.pre-footer-col img{
		height: 105px;
	}

    /* ---footer--- */
    
    
    #footer {
	min-height: 240px;
	background: url(/images/footer_background.png);
	overflow: hidden;
	box-shadow: 0px 0px 6px 2px #bbb;
    }
    
    #footer-wrapper {
	width: 979px;
	margin-left: auto;
	margin-right: auto;
	border-left: 1px solid white;	
	overflow: hidden;
    }
    
    #footer-col-container {
	overflow: hidden;
	
    }
    
    .footer-col {
	padding-top: 35px;
	width: 205px;
	margin-left: 39px;
	float: left;
    }
    
    .footer-col a {
	margin-top: 10px;
	margin-bottom: 0px;
	display:block;
    }
    
    #footer-copyright {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width:420px;
	text-align: center;
    }
    
    #underfooter {
	background: url(/images/underfooter.png);
	height: 12px;
    }
    
    
    
    
    /* ---fonts--- */
        
    body{
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	color: #666;
	font-size: 16px;
    }
    
    h1 {
	font-size: 22px;
	color: #333;
	text-transform:uppercase;
    }

    h1, h2, h3 {
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	font-weight: 700;
	text-transform:uppercase;

    }
    
    .solomon {
	color: #f47660;
    }
    
    .upper {
	text-transform:uppercase;
    }
    
    a {
	color: #c36;
	font-weight: bold;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
    }
    
    
    #webuser-block, #webuser-block a {
	font-size: 12px;
	font-weight: bold;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	color: #666;
	text-decoration: none;
    }

    #webuser-block a#my-onstage {
	color: #c36;
    }
    
    #login-container div {
	font-size: 12px;
	font-weight: bold;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	text-transform:uppercase;
	color:  #f47660;
    }

    #login-container input[type="text"] {
	color: #999;
	font-style: italic;
    }

    #login-container input[type="submit"] {
	font-size: 12px;
	font-weight: bold;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	text-transform:uppercase;
	color: white;
    }
    
    #menu {
	font-size: 14px;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	font-weight: 700;
	color: #333;
	text-transform:uppercase;
    }
    
    #menu a {
	color: #333;
	font-weight: bold;
	text-decoration: none;	
    }
    
    #menu a:hover,
    #menu li.current-menu-item a,
    #menu li.active-menu-item a {
	color: white;
    }
    
    #slider .nivo-caption {
	font-size: 13px;
	font-weight: bold;
	color: #ccc;
	text-transform: uppercase;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
    }
    
    #slider .nivo-caption h1{
	color: #ffffff;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	font-weight: 700;
	font-size: 25px;
    }
    
    #logo-text{
	color: #f47660;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
    }

    #search-container input{
	color: #666;
	font-size: 10px;
	font-style: italic;
    }

    #search-container input.filled{
	color: red;
    }
	
	#element_to_pop_up { 
	display:none; 
	background-color:#fff;
    border-radius:5px;
    border: 3px solid #F47660;
    color:#FFF;
    display:none; 
    padding:20px;
    min-width:400px;
    min-height: 180px;
	}

    .accordion-choice {
	text-decoration: none;
	text-transform:uppercase;
	font-size: 19px;
	//    letter-spacing: -moz-calc(-2px);
    }

    #main-content-left-accordion div a{
	font-family: "Arial Narrow", arial;
//font-family: "Arial Narrow", sans-serif;
	font-size: 14px;
	color: #666;
	text-decoration: none;
	font-weight: normal;
	//    letter-spacing: -moz-calc(0px);
    }

    #main-content-left-accordion div a.important{
	color: #333;
	font-weight: bold;
    }

    #main-content-left .left-component h3.component-title{
	color: #C36;
	text-transform: uppercase;
	font-size: 20px;	
//	letter-spacing: -moz-calc(-2px);
    }
    
    #main-content-left .left-component p {
	font-family: "Arial Narrow", arial;
	font-size: 14px;
    }
    
    h1.page-title {
	color: #F47660;
	font-size: 25px;
    }
    
    #main-content-meta h1 {
	color: #F47660;
    }

    .meta-filter {
	color: #666;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
    }
    
    .meta-filter:hover,
    .meta-filter.selected {
	color: white;
    }

    .pagination { 
	font-family: "Arial Narrow", arial;
	font-size: 11px;
	color: #F47660;
    }

    .pagination-description {
	font-family: "Arial Narrow", arial;
	font-size: 11px;
	font-weight: bold;
    }
    
    h2.show-slider-title {
	font-size: 18px;
    }
    
    h2.show-slider-title, a.show-slider-filter{
	text-transform: uppercase;
    }
    
    a.show-slider-filter, .show-slider-filter-seperator {
	color: #cc3366;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
    }


    table.grid th {
	color: white;
    }

    input[type="submit"]
    {
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	font-weight: 700;
    }
	
	.stats-table{
		padding-bottom: 40px;
	}
	
	.table-inputs-control{
		background-color: #F47660;
		color: #FFF;
		padding: 5px;
		padding-left: 10px;
		margin-top: 10px;
		margin-bottom: 60px;
	}
	
	.table-inputs-control input{
		margin-right: 20px;
	}
	
	.table-inputs-control input[type="submit"]{
		
	}
	
	.table-inputs-control label{
		margin-right: 5px;
	}
    
    .small-slider-wrapper .nivo-caption {
	color: black;
	font-family: "Arial Narrow", arial;
	font-size: 12px;
    }

    .small-slider-wrapper .nivo-caption .small-slider-author {
	font-size: 20px;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	font-weight: 700;
    }

    .small-slider-wrapper .nivo-caption .small-slider-title {
	font-size: 16px;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	font-weight: 700;
    }
    

    .small-slider-choices-wrapper a {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	font-size: 12px;
	text-decoration: none;
    }
    
    .small-slider-price-wrapper {
	font-family: "Arial Narrow", arial;
	font-size: 13px;
	text-decoration: underline;

    }
    
    .small-slider-price {
	color: #C36;
    }

    .nivo-directionNav .nivo-prevNav {
	background: url('/images/carousel_prev.png');
	width: 38px;
	height: 38px;
	top: 40%;
	left: -19px;
	text-indent: 999px;
	cursor: pointer;
	opacity: 0.8;
    }

    .nivo-directionNav .nivo-nextNav {
	background: url('/images/carousel_next.png');
	width: 38px;
	height: 38px;
	position: absolute;
	top: 40%;
	left: 623px;
	text-indent: 999px;
	cursor: pointer;
	opacity: 0.8;
    }
    
    /*
    .jcarousel-next-horizontal.jcarousel-next-disabled {
	background: url('images/carousel_next_disabled.png');
    }

    .jcarousel-prev-horizontal.jcarousel-prev-disabled {
	background: url('images/carousel_prev_disabled.png');
    }
    */

    .carousel-item-title, .carousel-item-category {
	text-transform: uppercase;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	font-weight: 700;
	font-size: 14px;
    }

    .carousel-item-title a {
	text-decoration: none;
    }
    
    .carousel-item-category {
	font-size: 12px;
	font-weight: bold;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
    }

    .carousel-item-overlay {
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
    }

    .carousel-bottom .watch-trailer,
    .carousel-bottom .watch-now
    {
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 700;
	text-decoration: none;
	color: #666;
    }

    .performance-title {
	color: #F47660;
    }
    
    .performance-summary {
	text-transform: uppercase;
	font-size: 16px;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	font-weight: normal;
    }


    #performance-description-box {
	font-family: "Arial Narrow", arial;
	font-size: 15px;
    }
    
    #performance-description-box-title {
	color: #c36;
	font-weight: bold;
	font-size: 14px;
    }

    #performance-description-pre-bottom {
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	font-weight: 700;
	text-transform: uppercase;
    }
    
    #performance-view-count {
	color: #9f9f9f;
    }

    #performance-attributes-table {
	font-family: "Arial Narrow", arial;
	font-size: 14px;
    }
    
    .performance-attribute {
	color: #c36;
	text-transform: uppercase;
	
    }

    #trailer-how-it-works-wrapper li a {
	color: #666;
	text-decoration: none;
	font-weight: 300;
    }
    
    .trailer-component h3 {
	text-transform: uppercase;
    }
    
    #trailer-action-block div {
	font-style: italic;
	font-family: "Arial Narrow", arial;
	font-size: 12px;
    }
    
    #trailer-action-block div#trailer-action-block-bottom {
	font-style: normal;
    }
    
    #hire-and-watch, #register-free {
	font-size: 17px;
    }
    
    #load-more-related {
	color: #666;
    }

    
    #faq-left {
	font-family: "Arial Narrow", arial;
	font-size: 15px;
    }

    #faq-left a {
	font-family: "Arial Narrow", arial;
    }

    #faq-left a.accordion-choice {
	font-size: 15px;
    }

    #faq-accordion {
	margin-top: 80px;
    }

    #faq-accordion > h3 {
	margin-bottom: 30px;
    }

    #faq-accordion > div {
	margin-bottom: 50px;
	margin-left: 30px;
    }
    
    #faq-left a.faq-arrow-up {
	text-transform: uppercase;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	text-decoration: none;
    }
    
    
    
    #faq-right,
    #faq-right a
    {
	font-family: "Arial Narrow", arial;
	text-decoration: none;
	color: #999;
	font-size: 13px;
    }

    #faq-right h3 {
	font-size: 15px;
	font-family: "Arial Narrow", arial;
	color: #c36;
    }
    
    .account-block .credit-head-description .hours {
	font-weight: bold;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
    }
    
    .account-block iframe {
	width: 535px;
    }
    
    .account-block .credit-head-description {
	color: #c36;
    }
    
    .account-block .input-boxes input[type="submit"] {
	color: white;
	font-style: normal;
	text-indent: 0px;
    }    
    
	#account-right .account-block .vertical-performances-list li {
	list-style-image: none;
    }

    #account-right .account-block .vertical-performances-list a {
	color: #c36;
	font-weight: bold;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
    }
    
    #account-form-left {
	font-family: "Arial Narrow", arial;
	font-size: 13px;
    }
    
    .account-form-block,
    .account-block {
	font-family: "Arial Narrow", arial;
	font-size: 14px;
    }
    
    .account-form-block .input-boxes label {
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	font-weight: bold;
	color: #c36;
	text-transform: uppercase;
	font-size: 14px;
    }
    
    .account-form-block .input-boxes input {
	font-weight: 300;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	font-size: 15px;
	text-indent: 5px;
    }

    .account-block a,
    .account-form-block a {
	font-family: "Arial Narrow", arial;
	font-size: 12px;
    }
    
    #account-left h3,
    #account-right h3
    {
	color: #c36;
    }
    
    #account-form-right h3,
    .account-form-block h3 {
	font-size: 15px;
	font-family: "Arial Narrow", arial;
	color: #c36;
    }
    
    #account-right .account-block a,
    #account-form-right .account-form-block a
    {
	font-family: "Arial Narrow", arial;
	text-decoration: none;
	color: #999;
	font-size: 13px;
    }
	
	.info-text{
		font-size: 16px;
	}
	.info-text .email{
		color: #c36;
	}


    #payment-performance-attributes-table {
	font-family: "Arial Narrow", arial;
	font-size: 12px;
    }
    
    #payment-performance-attributes-table .payment-performance-attribute {
    	font-weight: bold;
    }

    #payment-performance-attributes-table td.price {
	font-weight: bold;
    }
    
    #payment-performance-attributes-table td.hour {
	color: #c36;
    }
    
    #payment-left h3,
    #payment-right h3
    {
	color: #c36;
	font-size: 18px;
    }

    #payment-left,
    #payment-right
    {
	font-family: "Arial Narrow", arial;
	font-size: 12px;
    }

	p.payment{
	font-size: 13px;
	}
    
    .ui-datepicker {
	font-family: "Arial Narrow", arial;
	//font-size: 12px;
    }
    
    
    .pre-footer-col h3 {
	color: #F47660;
	text-transform: uppercase;
	font-size: 16px;
    }
    
    #footer, #footer a {
	color: white;
	font-weight: normal;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
	text-decoration: none;
    }
    
    #footer #footer-col-container .footer-col .footer-col-title {
	text-transform:uppercase;
	text-decoration:underline;
	font-weight:bold;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
    }
    
    #footer-container {
	font-size: 9px;
    }
    
    #footer-copyright {
	font-size: 12px;
	font-weight:bold;
	font-family: "Open Sans Condensed", "Arial Narrow", arial;
    }
    